<dl class="dl-horizontal lead dl-condensed">
	<!-- Claimer -->
	<dt><i class="fa fa-user fa-fw fa-lg text-muted"></i></dt>
	<dd id="sumClaimer"></dd>

	<!-- Booking Name -->
	<dt><i class="fa fa-tag fa-fw fa-lg text-muted"></i></dt>
	<dd id="sumBookingName"><%= booking.name %></dd>

	<!-- Booking Place -->
	<dt><i class="fa fa-map-marker fa-fw fa-lg text-muted"></i></dt>
	<dd id="sumBookingPlace"><%= booking.place %></dd>

	<!-- Booking Date -->
	<dt><i class="fa fa-calendar fa-fw fa-lg text-muted"></i></dt>
	<dd id="sumBookingDate"><%= booking.date %></dd>
</dl>