<h1 class="text-primary"><%= lang.appTitle %></h1>


<!-- Panel -->
<div class="panel panel-default">
	<div class="panel-body">

		<!-- Wizard -->
		<ul id="wizard" class="wizard-nav nav nav-pills nav-justified">
			<li class="active disabled" data-toggle="tooltip" title="<%= lang.title.aboutYou %>" data-step="0">
				<a href="#step0" data-toggle=""><span class="sbadge pull-left">1</span><i class="fa fa-user fa-2x"></i></a>
			</li>
			<li class="sep"></li>
			<li class="disabled" data-toggle="tooltip" title="<%= lang.title.aboutBooking %>" data-step="1">
				<a href="#step1" data-toggle=""><span class="sbadge pull-left">2</span><i class="fa fa-tag fa-2x"></i></a>
			</li>
			<li class="sep"></li>
			<li class="disabled" data-toggle="tooltip" title="<%= lang.title.summaryBooking %>" data-step="2">
				<a href="#step2" data-toggle=""><span class="sbadge pull-left">3</span><i class="fa fa-check fa-2x"></i></a>
			</li>
		</ul>


		<!-- Form -->
		<form id="form" class="form-horizontal" role="form">

			<div class="tab-content">

				<!-- About the Claimer -->
				<div class="tab-pane fade in active" id="step0">

					<fieldset>
					<legend><%= lang.title.aboutYou %></legend>

						<!-- Claimer Type -->
						<div class="form-group" id="form-claimerType">
							<label class="col-sm-3 control-label"><%= lang.label.youAre %> :</label>
							<div class="col-sm-9">
								<label class="radio-inline">
									<input type="radio" name="claimerType" id="isCitizen" value="individual"><%= lang.anIndividual %>
								</label>
								<label class="radio-inline">
									<input type="radio" name="claimerType" id="isAssociation" value="association" checked><%= lang.anAssociation %>
								</label>
							</div>
						</div>


						<div class="isAssociation">
						<!-- Select Association -->
						<div class="form-group" id="form-claimerAssociation">
							<div class="col-sm-9 col-sm-offset-3">
								<input id="claimerAssociation" class="select2" data-placeholder="<%= lang.placeholder.selectAnAssociation %>" />
								<span class="help-block"><%= lang.errorMessage.selectAnAssociation %></span>
							</div>
						</div>
						</div>


						<div class="isCitizen hide-soft">
						<!-- Citizen Name -->
						<div class="form-group" id="form-citizenName">
							<label for="citizenName" class="control-label col-sm-3"><%= lang.label.nameFirstname %> :</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="citizenName" placeholder="<%= lang.placeholder.nameFirstname %>">
								<span class="help-block"><%= lang.errorMessage.fillName %></span>
							</div>
						</div>

						<!-- Citizen Mail -->
						<div class="form-group" id="form-citizenMail">
							<label for="citizenMail" class="col-sm-3 control-label"><%= lang.label.email %> :</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" id="citizenMail" placeholder="<%= lang.placeholder.email %>">
								<span class="help-block"><%= lang.errorMessage.fillMail %></span>
							</div>
						</div>

						<!-- Citizen Phone -->
						<div class="form-group" id="form-citizenPhone">
							<label for="citizenPhone" class="col-xs-12 col-sm-3 control-label"><%= lang.label.phone %> :</label>
							<div class="col-xs-6 col-sm-3">
								<input type="tel" class="form-control" id="citizenPhone" placeholder="<%= lang.placeholder.phone %>">
								<span class="help-block"><%= lang.errorMessage.fillPhone %></span>
							</div>
						</div>


						<!-- Citizen Street -->
						<div class="form-group" id="form-citizenAddress">
							<label for="citizenAddress" class="col-sm-3 control-label"><%= lang.label.address %> :</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="citizenAddress" placeholder="<%= lang.placeholder.address %>">
								<span class="help-block"><%= lang.errorMessage.fillAddress %></span>
							</div>
						</div>


						<!-- Citizen Zip Code & City -->
						<div class="row">
							<div class="col-sm-3 col-sm-offset-3">
								<div class="form-group" id="form-citizenZipCode">
									<label for="citizenZipCode" class="col-xs-12 col-sm-12 control-label text-left"><%= lang.label.zipCode %> :</label>
									<div class="col-xs-6 col-sm-12">
										<input type="text" class="form-control" id="citizenZipCode" placeholder="<%= lang.placeholder.zipCode %>">
										<span class="help-block"><%= lang.errorMessage.fillZipCode %></span>
									</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group" id="form-citizenCity">
									<label for="citizenCity" class="col-sm-12 control-label text-left"><%= lang.label.city %> :</label>
									<div class="col-xs-12 col-sm-12">
										<input type="text" class="form-control" id="citizenCity" placeholder="<%= lang.placeholder.city %>">
										<span class="help-block"><%= lang.errorMessage.fillCity %></span>
									</div>
							    </div>
							</div>
						</div>

						</div>

					</fieldset>

				</div>



				<!-- About The Booking -->
				<div class="tab-pane fade" id="step1">

					<fieldset>
					<legend><%= lang.title.aboutBooking %></legend>

						<!-- Booking Name -->
						<div class="form-group" id="form-bookingName">
							<label for="bookingName" class="col-sm-3 control-label"><%= lang.label.bookingName %> :</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="bookingName" placeholder="<%= lang.placeholder.bookingName %>">
								<span class="help-block"><%= lang.errorMessage.fillBookingName %></span>
							</div>
						</div>


						<!-- Select Place -->
						<div class="form-group" id="form-bookingPlace">
							<label for="bookingPlace" class="control-label col-sm-3"><%= lang.label.wantedPlace %> :</label>

							<div class="col-sm-9">
								<input id="bookingPlace" class="select2" data-placeholder="<%= lang.placeholder.selectAPlace %>" />
								<span class="help-block"><%= lang.errorMessage.fillBookingPlace %></span>
							</div>
						</div>


						<!-- Booking checkIn -->
						<div class="form-group" id="form-bookingStartDate">
							<label for="bookingStartDate" class="col-xs-12 col-sm-3 control-label"><%= lang.label.from %> :</label>

							<!-- Checkin Sate -->
							<div class="col-xs-5 col-sm-4 col-md-3">
								<div class="input-group">
									<input type="text" id="bookingStartDate" class="form-control datepicker" placeholder="<%= lang.placeholder.checkDate %>" value="<%= moment.format('DD/MM/YYYY') %>" data-date-start-date="<%= moment.format('DD/MM/YYYY') %>">
									<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								</div>
								<span class="help-block"><%= lang.errorMessage.fillBookingDate %></span>
							</div>

							<!-- CheckIn Hour -->
							<div class="col-xs-4 col-sm-3 col-md-2">
								<div class="input-group">
									<input type="text" id="bookingStartHour" class="form-control timepicker" placeholder="<%= lang.placeholder.checkHour %>" value="<%= moment.add('hours', 1).format('HH:00') %>">
									<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
								</div>
							</div>
						</div>


						<!-- Booking checkOut -->
						<div class="form-group" id="form-bookingEndDate">
							<label for="bookingEndDate" class="col-xs-12 col-sm-3 control-label"><%= lang.label.to %> :</label>

							<!-- Checkin Sate -->
							<div class="col-xs-5 col-sm-4 col-md-3">
								<div class="input-group">
									<input type="text" id="bookingEndDate" class="form-control datepicker" placeholder="<%= lang.placeholder.checkDate %>" value="<%= moment.format('DD/MM/YYYY') %>" data-date-start-date="<%= moment.format('DD/MM/YYYY') %>">
									<span class="input-group-addon date"><i class="fa fa-calendar"></i></span>
								</div>
								<span class="help-block"><%= lang.errorMessage.fillBookingDate %></span>
							</div>

							<!-- CheckIn Hour -->
							<div class="col-xs-4 col-sm-3 col-md-2">
								<div class="input-group">
									<input type="text" id="bookingEndHour" class="form-control timepicker" placeholder="<%= lang.placeholder.checkHour %>" value="<%= moment.add('hours', 3).format('HH:00') %>">
									<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
								</div>
							</div>
						</div>


						<hr>
						<!-- Calendar to display reservations -->
						<div id="calendar"></div>

					</fieldset>

				</div>



				<!-- Summary of the booking -->
				<div class="tab-pane fade" id="step2">

					<fieldset>
					<legend><%= lang.title.summaryBooking %></legend>


						<!-- Submit Message -->
						<div id="submitMessage" class="alert hide-soft"></div>


						<div id="bookingSummary" class="col-sm-offset-1"></div>

						<p class="text-muted text-right no-margin">
							<i class="fa fa-info-circle"></i> <%= lang.infoMessage.aboutTheBooking %>
						</p>

					</fieldset>

			    </div>


			</div>

		</form>

	</div> <!-- /Panel Body -->


	<!-- Panel Footer -->
	<div class="panel-footer">
		<ul class="pager">
			<!-- Prev Button -->
			<li class="previous">
				<a href="#" class="hide"><i class="fa fa-chevron-left"></i> <%= lang.action.previous %></a>
			</li>
			<!-- Next Button -->
			<li class="next">
				<a href="#"><%= lang.action.next %>  <i class="fa fa-chevron-right"></i></a>

				<button type="submit" form="form" class="hide btn btn-primary pull-right" data-loading-text="<i class='fa fa-refresh fa-spin'></i>&nbsp; <%= lang.infoMessage.sendingInProgress %>">
					<%= lang.action.send %>
				</button>
			</li>
		</ul>
	</div> <!-- /Panel Footer -->

</div> <!-- /Panel -->


<p class="text-right"><i class="fa fa-flask fa-fw" data-toggle="tooltip" title="v <%= properties.version %>"></i> <%= lang.developBy %> <a href="http://www.siclic.fr/" target="_blank">Siclic</a></p>