<div class="page-header">
	<h1 class="text-primary"><%= lang.appTitle %></h1>
</div>


<form class="form-horizontal" role="form">
	

	<!-- Claimer Type -->
	<div class="form-group">
		<label class="col-sm-2 control-label"><%= lang.label.youAre %> :</label>
		<div class="col-sm-10">
			<label class="radio-inline">
				<input type="radio" name="claimerType" id="inlineCheckbox1" value="individual" checked><%= lang.anIndividual %>
			</label>
			<label class="radio-inline">
				<input type="radio" name="claimerType" id="inlineCheckbox2" value="association"><%= lang.anAssociation %>
			</label>
		</div>
	</div>


	<!-- Select Association -->
	<div class="form-group">
		<label for="requestContact" class="control-label col-sm-2"><%= lang.anAssociation %> :</label>

		<div class="col-sm-9">
			<input id="requestContact" class="select2" data-placeholder="<%= lang.placeholder.selectAnAssociation %>" />
		</div>
	</div>



	<!-- Citizen Name -->
	<div class="form-group">
		<label for="citizenName" class="col-sm-2 control-label"><%= lang.label.nameFirstname %> :</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="citizenName" placeholder="<%= lang.placeholder.nameFirstname %>" required>
		</div>
	</div>

	<!-- Citizen Mail -->
	<div class="form-group">
		<label for="citizenMail" class="col-sm-2 control-label"><%= lang.label.email %> :</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" id="citizenMail" placeholder="<%= lang.placeholder.email %>" required>
		</div>
	</div>

	<!-- Citizen Phone -->
	<div class="form-group">
		<label for="citizenPhone" class="col-sm-2 control-label"><%= lang.label.phone %> :</label>
		<div class="col-sm-10">
			<input type="tel" class="form-control" id="citizenPhone" required>
		</div>
	</div>

	

	<fieldset>
		<legend>Information sur votre réservation</legend>
	
		<!-- Booking Name -->
		<div class="form-group">
			<label for="bookingName" class="col-sm-2 control-label"><%= lang.label.bookingName %> :</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="bookingName" placeholder="<%= lang.placeholder.bookingName %>" required>
			</div>
		</div>

		<!-- Select Place -->
		<div class="form-group">
			<label for="bookingPlace" class="control-label col-sm-2"><%= lang.label.wantedPlace %> :</label>

			<div class="col-sm-9">
				<input id="bookingPlace" class="select2" data-placeholder="<%= lang.placeholder.selectAPlace %>" />
			</div>
		</div>

		

		<!-- Booking checkIn -->
		<div class="form-group">
			<label for="citizenName" class="col-sm-2 control-label"><%= lang.label.nameFirstname %> :</label>

			<!-- Checkin Sate -->
			<div class="col-xs-4 col-sm-4 col-md-3">
				<div class="input-group">
					<input type="text" class="form-control datepicker" placeholder="<%= lang.placeholder.checkDate %>" value="<%= moment.format('DD/MM/YYYY') %>">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				</div>
			</div>

			<!-- CheckIn Hour -->
			<div class="col-xs-3 col-sm-3 col-md-2">
				<div class="input-group">
					<input type="text" class="form-control timepicker" placeholder="<%= lang.placeholder.checkHour %>" value="<%= moment.format('HH:00') %>">
					<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
				</div>
			</div>
		</div>

		<!-- Booking checkOut -->
		<div class="form-group">
			<label for="citizenName" class="col-sm-2 control-label"><%= lang.label.nameFirstname %> :</label>

			<!-- Checkin Sate -->
			<div class="col-xs-4 col-sm-4 col-md-3">
				<div class="input-group">
					<input type="text" class="form-control datepicker" placeholder="<%= lang.placeholder.checkDate %>" value="<%= moment.format('DD/MM/YYYY') %>">
					<span class="input-group-addon date"><i class="fa fa-calendar"></i></span>
				</div>
			</div>

			<!-- CheckIn Hour -->
			<div class="col-xs-3 col-sm-3 col-md-2">
				<div class="input-group">
					<input type="text" class="form-control timepicker" placeholder="<%= lang.placeholder.checkHour %>" value="<%= moment.add('hours', 3).format('HH:00') %>">
					<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
				</div>
			</div>
		</div>

	</fieldset>



	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-4">
			<button type="submit" class="btn btn-primary btn-block btn-lg" 
					data-loading-text="<i class='fa fa-refresh fa-spin'></i>&nbsp; <%= lang.sendingInProgress %>">
				<%= lang.action.send %>
			</button>
		</div>
	</div>
</form>